body {
  background-color: #ccc;
  font: 14px helvetica, arial, sans-serif;
}
body .header {
  background-color: #fff;
}
body .footer {
  background-color: #000;
  color: #ebebeb;
}
body .content {
  padding: 0px 10px;
  margin: 10px 0px;
}

body {
  color: #000;
}

form button, form .button {
  background-color: #aaa;
  color: #fff;
}
form label {
  display: inline-block;
}
form .error {
  color: red;
  border: 1px solid red;
}
